@model IEnumerable<LILI_VMS.Models.VMCustomerInfo>
@{
    Layout = "";
}



<div class="modal fade" id="add-material-search" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content" style="position: relative;">

            <div class="modal-header" style="background-color:#0c8599; color:white;">
                <h5 class="modal-title" id="addContactLabel">Select Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-header">
                <div class="col-sm-12">
                <div class="row">

              
                <div class="col-sm-10">
                    <input type="text" id="SearchKey" class="form-control" placeholder="Search">
                </div>
                <div class="col-sm-2">
                    <button type="button" id="btnSearch" class="btn btn-primary">search</button>
                </div>
                </div>
               
                </div>
            </div>
            <div class="modal-body" style="position: relative;">
                <div class="loader-overlay" style="display:none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); justify-content: center; align-items: center; z-index: 1050;">
                    <div class="loader" style="position: relative;">
                        <div class="spinner-border text-primary" role="status">
                        </div>


                    </div>
                </div>
                <form class="form-horizontal" style="padding-bottom:30px">
                    <div class="card-body">

                        <table id="tblInfo" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width:3%"></th>
                                    <th style="width:2%">Customer Code</th>
                                    <th style="width:5%">Customer Name</th>
                                    <th style="width:5%"> Customer Address1</th>
                                    <th style="width:5%"> Customer Address2</th>
                                    <th style="width:3%"> Contact Info</th>
                                </tr>
                            </thead>
                            <tbody id="tblInfoBody">
                            </tbody>
                        </table>
                    </div>
                </form>

            </div>
            <div class="modal-footer" style="background-color:#0c8599; ">
                <button type="button" id="btnSet" class="btn btn-warning" data-dismiss="modal">Ok</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () { 

        $('#btnSearch').on('click', function () {
            //debugger;
            var SearchKey = $("#SearchKey").val();
            if (SearchKey != '') {
                $(".loader-overlay").css("display", "flex");
                $.ajax({
                    type: "POST",
                    url: "/BidSchedule/SearchCustomer",
                    data: { SearchKey: SearchKey },
                    success: function (msg) {

                        //console.log(msg);
                        $("#tblInfo #tblInfoBody").empty();
                        var tr = '';
                        for (var i = 0; i < msg.length; i++) {
                            tr = $('<tr/>');
                            tr.append("<td>" + '<input name="CustomerCode" id="CustomerCode" type="checkbox" value="' + msg[i].customerCode + '"></label>' + "</td>");
                            tr.append("<td>" + '<input readonly style="border: none; background-color: transparent;"  type="text" value="' + msg[i].customerCode + '"></label>' + "</td>");
                            tr.append("<td>" + '<input readonly style="border: none; background-color: transparent;" name="CustomerName" id="CustomerName" value="' + msg[i].customerName + '"></label>' + "</td>");
                            tr.append("<td>" + '<input readonly style="border: none; background-color: transparent;" name="CustomerAddress1" id="CustomerAddress1"  type="text" value="' + msg[i].add1 + '"></label>' + "</td>");
                            tr.append("<td>" + '<input readonly style="border: none; background-color: transparent;" name="CustomerAddress2" id="CustomerAddress2"  type="text" value="' + msg[i].add2 + '"></label>' + "</td>");
                            tr.append("<td>" + '<input readonly style="border: none; background-color: transparent;" name="ContactInfo" id="ContactInfo"  type="text" value="' + msg[i].mobile + '"></label>' + "</td>");
                            // tr.on('click', function () {
                            //     $(this).find('input[name="CustomerCode"]').prop('checked', true);
                            // });
                            tr.on('click', function (event) {
                                // Check if the clicked element is a checkbox
                                let isChecked = $(this).find('input[name="CustomerCode"]').prop('checked');
                                if (isChecked) {
                                    $(this).find('input[name="CustomerCode"]').prop('checked', false);
                                    let table = $("#tblCustomer");
                                    let $tbody = $("#htCustomerGrid");

                                    let selectedCheckboxes = $(this).find('input[name="CustomerCode"]');
                                    let selectedRow = selectedCheckboxes.parents('tr');
                                 
                                    console.log(selectedRow);
                                    debugger;
                                    let customerCode = selectedRow.find('input#CustomerCode').val().trim();
                                    $('#tblCustomer tr').each(function () {

                                        let currentCode = $(this).find('input.clCustomercode').val();


                                        if (currentCode === customerCode) {
                                            var row = $(this).closest('tr').attr('id');
                                            var rowId = $("#" + row).remove();
                                            debugger;
                                        }
                                    });

                                }
                                else{
                                    $(this).find('input[name="CustomerCode"]').prop('checked', true);

                                    let selectedCheckboxes = $(this).find('input[name="CustomerCode"]');

                                    let selectedRow = selectedCheckboxes.parents('tr');
                                    let CustomerInfo = {};

                                    let bidScheduleNo = $("#BidScheduleNo").val();
                                    let customerCode = selectedRow.find('input#CustomerCode').val().trim();
                                    let customerName = selectedRow.find('input#CustomerName').val().trim(); // Get value of CustomerName input
                                    let customerAddress1 = selectedRow.find('input#CustomerAddress1').val().trim(); // Get value of CustomerAddress1 input
                                    let customerAddress2 = selectedRow.find('input#CustomerAddress2').val().trim();
                                    let ContactInfo = selectedRow.find('input#ContactInfo').val().trim();
                                   
                            

                                    let table = $("#tblCustomer");
                                    let $tbody = $("#htCustomerGrid");


                                    if (checkCustomerCodeExists(customerCode)) {
                                        $(this).find('input[name="CustomerCode"]').prop('checked', true);
                                        toastr.options = {
                                            "closeButton": false,
                                            "debug": false,
                                            "newestOnTop": false,
                                            "progressBar": false,
                                            "positionClass": "toast-top-right",
                                            "preventDuplicates": false,
                                            "onclick": null,
                                            "showDuration": "300",
                                            "hideDuration": "1000",
                                            "timeOut": "5000",
                                            "extendedTimeOut": "1000",
                                            "showEasing": "swing",
                                            "hideEasing": "linear",
                                            "showMethod": "fadeIn",
                                            "hideMethod": "fadeOut"
                                        }


                                        toastr.error("Customer already in table");

                                    }
                                    else { 
                                    let index = $tbody.children("tr").length;
                                    let indexCell = "<td style='display:none'><input readonly class='form-control' name='TblBidScheduleCustomers.Index' type='hidden' value='" + index + "' /></td>";
                                    let idCell = "<td style='display:none'> <input readonly class='form-control' id='TblBidScheduleCustomers_" + index + "_Id' name='TblBidScheduleCustomers[" + index + "].Id' type='text' value='0' /></td>";
                                    let bidScheduleNoCell = "<td style='display:none'> <input readonly class='form-control' id='TblBidScheduleCustomers_" + index + "_BidScheduleNo' name='TblBidScheduleCustomers[" + index + "].BidScheduleNo' type='text' value='" + bidScheduleNo + "' /></td>";
                                    let customerCodeCell = "<td> <input readonly class='form-control clCustomerCode' id='TblBidScheduleCustomers_" + index + "_CustomerCode' name='TblBidScheduleCustomers[" + index + "].CustomerCode' type='text' value='" + customerCode + "' /></td>";
                                    let customerNameCell = "<td> <input readonly class='form-control' id='TblBidScheduleCustomers_" + index + "_CustomerName' name='TblBidScheduleCustomers[" + index + "].CustomerName' type='text' value='" + customerName + "' /></td>";
                                    let customerAddress1Cell = "<td> <input readonly class='form-control' id='TblBidScheduleCustomers_" + index + "_Add1' name='TblBidScheduleCustomers[" + index + "].Add1' type='text' value='" + customerAddress1 + "' /></td>";
                                    let customerAddress2Cell = "<td> <input readonly class='form-control' id='TblBidScheduleCustomers_" + index + "_Add2' name='TblBidScheduleCustomers[" + index + "].Add2' type='text' value='" + customerAddress2 + "' /></td>";
                                    let contactinfoCell = "<td> <input readonly class='form-control' id='TblBidScheduleCustomers_" + index + "_Mobile' name='TblBidScheduleCustomers[" + index + "].Mobile' type='text' value='" + ContactInfo + "' /></td>";
                                    let removeCell = "<td><button type='button' class='btn btn-sm btn-danger' onclick='removeCustomerRow(" + index + ")'>Remove</button></td>";

                                    var newRow = "<tr id='trTblBidScheduleCustomers" + index + "'>" + indexCell + idCell + bidScheduleNoCell + customerCodeCell + customerNameCell + customerAddress1Cell + customerAddress2Cell + contactinfoCell + removeCell + "</tr>";

                                   
                                    $tbody.append(newRow);
                                  }
                                   
                                }
                       
                            });
                            $("#tblInfo #tblInfoBody").append(tr);
                            $(".loader-overlay").hide();
                        }
                    },
                    error: function () {
                        $(".loader-overlay").hide();
                        //$('#ExpertiesId').val('');
                        //$('#ExpertArea').val('');
                        //$('#ExpertDesc').val('');
                    }
                });
            }
           

            $(".loader-overlay").hide();
        });
        // $("#btnSet").click(function (e) {
        //     let selectedRadio = $('input[type="radio"]:checked');
         
        //     let selectedRow = selectedRadio.parents('tr');
        //     // //console.log('Selected Row HTML:', selectedRow.html());

        //     let bidScheduleNo = $("#BidScheduleNo").val();
        //     let customerCode = selectedRow.find('td:eq(0) input').val().trim();
        //     let customerName = selectedRow.find('td:eq(2) input').val().trim();
        //     let customerAddress1 = selectedRow.find('td:eq(3) input').val().trim();
        //     let customerAddress2 = selectedRow.find('td:eq(4) input').val().trim();
        //     let ContactInfo = selectedRow.find('td:eq(5) input').val().trim();



        //     let table = $("#tblCustomer");
        //     let $tbody = $("#htCustomerGrid");

        //     let index  = $tbody.children("tr").length;
        //     let indexCell = "<td style='display:none'><input readonly class='form-control' name='TblBidScheduleCustomers.Index' type='hidden' value='" + index + "' /></td>";
        //     let idCell = "<td style='display:none'> <input readonly class='form-control' id='TblBidScheduleCustomers_" + index + "_Id' name='TblBidScheduleCustomers[" + index + "].Id' type='text' value='0' /></td>";
        //     let bidScheduleNoCell = "<td style='display:none'> <input readonly class='form-control' id='TblBidScheduleCustomers_" + index + "_BidScheduleNo' name='TblBidScheduleCustomers[" + index + "].BidScheduleNo' type='text' value='" + bidScheduleNo + "' /></td>";
        //     let customerCodeCell = "<td> <input readonly class='form-control' id='TblBidScheduleCustomers_" + index + "_CustomerCode' name='TblBidScheduleCustomers[" + index + "].CustomerCode' type='text' value='" + customerCode + "' /></td>";
        //     let customerNameCell = "<td> <input readonly class='form-control' id='TblBidScheduleCustomers_" + index + "_CustomerName' name='TblBidScheduleCustomers[" + index + "].CustomerName' type='text' value='" + customerName + "' /></td>";
        //     let customerAddress1Cell = "<td> <input readonly class='form-control' id='TblBidScheduleCustomers_" + index + "_Add1' name='TblBidScheduleCustomers[" + index + "].Add1' type='text' value='" + customerAddress1 + "' /></td>";
        //     let customerAddress2Cell = "<td> <input readonly class='form-control' id='TblBidScheduleCustomers_" + index + "_Add2' name='TblBidScheduleCustomers[" + index + "].Add2' type='text' value='" + customerAddress2 + "' /></td>";
        //     let contactinfoCell = "<td> <input readonly class='form-control' id='TblBidScheduleCustomers_" + index + "_Mobile' name='TblBidScheduleCustomers[" + index + "].Mobile' type='text' value='" + ContactInfo + "' /></td>";
        //     let removeCell = "<td><button type='button' class='btn btn-sm btn-danger' onclick='removeCustomerRow(" + index + ")'>Remove</button></td>";

        //     var newRow = "<tr id='trTblBidScheduleCustomers" + index + "'>" + indexCell + idCell + bidScheduleNoCell + customerCodeCell + customerNameCell + customerAddress1Cell + customerAddress2Cell + contactinfoCell + removeCell + "</tr>";

        //     $tbody.append(newRow);

        // });
    });

    function checkCustomerCodeExists(customerCode) {
       
        let exists = false;

       
        $('#tblCustomer tr').each(function () {
        
            let currentCode = $(this).find('input.clCustomercode').val();

         
            if (currentCode === customerCode) {
                exists = true; 
                return false; 
            }
        });

        return exists;
    }

   
</script>