@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>Something Went Wrong</h3>
<p>
  If this error keeps showing, please contact our support team for assistance.
</p>
